/* src/components/SocialSidebar/SocialSidebar.css */
.social-sidebar {
  position: fixed;
  left: 40px;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-icon {
  color: var(--light-gray);
  font-size: 1.4rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--primary);
  transform: translateY(-3px);
}

.vertical-line {
  height: 100px;
  width: 1px;
  background: var(--light-gray);
  margin-top: 20px;
}

@media (max-width: 768px) {
  .social-sidebar {
    left: 20px;
  }
}

@media (max-width: 480px) {
  .social-sidebar {
    display: none;
  }
}